.user.blockedUser(id='user-' + blockedUser.userId value=blockedUser.userId.toString() name=blockedUser.username)
    .avatar
        img(src='images/defaults/blocked_user.png')
    .name #{blockedUser.username}
    .mood Utente bloccato   