extends layout

block content
  .top-content
    .inner-bg
      .container
        .row
          .col-sm-8.col-sm-offset-2.text.glass
            h1
              strong= title
            h2.wow.fadeInLeft Sviluppatore: Simeone Vilardo
            h2.wow.fadeInLeft(data-wow-delay='.3s') Beta Tester: Mariastella Ditrani
            h2.wow.fadeInLeft(data-wow-delay='.6s') Versione: 1.0 Beta
            h2.wow.fadeInLeft(data-wow-delay='.9s') Livello API: 1.0 Beta
    link(rel='stylesheet' href='/stylesheets/about.css')        
                  
