extends layout

block content
  .top-content
    .inner-bg
      .container
        .row
          .col-sm-8.col-sm-offset-2.text
            h1
              strong Richiedi reset password
            .description
              p
                | Se non ricordi la tua password puoi resettarla
                | inserendo il tuo indirizzo mail o username
        .row
          .col-sm-6.col-sm-offset-3.form-box.animated.flipInX
            .form-top
              .form-top-left
                h3 Richiedi reset password
                p Inserisci il tuo indirizzo email o il tuo username
              .form-top-right
                i.fa.fa-question-circle
            .form-bottom
              .login-form#login-form
                .form-group
                  label.sr-only(for='form-login') Username
                  input#form-login.form-login.form-control(type='text' name='form-login' placeholder='Indirizzo email o username')
                button.btn.btn-diorama.btn-primary#btnSendMail Invia mail
        .row
          .col-sm-6.col-sm-offset-3.social-login
            h3 ...oppure registrati ora:
            .social-login-buttons
              a.btn.btn-diorama.btn-link-2(href='/signup')
                i.fa.fa-mouse-pointer
                |  Registrati
  link(rel='stylesheet' href='stylesheets/login.css')
  script(src='javascripts/request_reset_password.js')