extends layout

block content
  .top-content
    .inner-bg
      .container
        .row
          .col-sm-8.col-sm-offset-2.text
            h1
              strong Reset password
            .description
              p
                | Inserisci la tua nuova password per
                | modificarla
        .row
          .col-sm-6.col-sm-offset-3.form-box.animated.flipInX
            .form-top
              .form-top-left
                h3 Reset password
                p Inserisci password e conferma password
              .form-top-right
                i.fa.fa-refresh
            .form-bottom
              .reset-password-form#reset-password-form
                .form-group
                  label.sr-only(for='form-password') Username
                  input#form-password.form-password.form-control(type='password' name='form-password', placeholder='Password')
                .form-group
                  label.sr-only(for='form-confirm-password') Conferma Password
                  input#form-confirm-password.form-confirm-password.form-control(type='password' name='form-confirm-password' placeholder='Conferma Password')
                button.btn.btn-diorama.btn-primary#btnReset Resetta password
        .row
          .col-sm-6.col-sm-offset-3.social-login
            h3 ...oppure registrati ora:
            .social-login-buttons
              a.btn.btn-diorama.btn-link-2(href='/signup')
                i.fa.fa-mouse-pointer
                |  Registrati
  link(rel='stylesheet' href='/stylesheets/login.css')
  script(src='/javascripts/diorama_ajax_options.js')
  script(src='/javascripts/reset_password.js')
  script.
    resetPasswordToken="#{resetPasswordToken}";